<div navbar ></div>
<h3>欢迎使用 main 主页</h3>
<h3>欢迎使用 main 主页</h3>
<div>
    <ul class="nav nav-tabs">
        <li ng-class="{active: wb_tab.current  == 1}" ><a ng-click="actions.setCurrent(1)" data-toggle="tab">标签1</a></li>
        <li ng-class="{active: wb_tab.current  == 2}" ><a ng-click="actions.setCurrent(2)" data-toggle="tab">标签2</a></li>
    </ul>
    <div >
        <div ng-if="wb_tab.current == 1">
            <h4>测试标签1</h4>
            <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th>编号</th>
                    <th>姓名</th>
                    <th>年龄</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="group in groupinfo">
                    <td>[{group.num}]</td>
                    <td>[{group.name}]</td>
                    <td>[{group.age}]</td>
                </tr>
            </tbody>
            </table>
        </div>
        <div ng-if="wb_tab.current == 2">
            <h4>测试标签2</h4>
            <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th>编号</th>
                    <th>姓名</th>
                    <th>年龄</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="group in groupinfo">
                    <td>[{group.num}]</td>
                    <td>[{group.name}]</td>
                    <td>[{group.age}]</td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
</div>
