<!DOCTYPE html>
<html  ng-app="myApp">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="static/mylib/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="static/mylib/bootstrap/css/bootstrap-datetimepicker.min.css">
<script type="text/javascript" src="static/mylib/angular/angular.min.js"></script>
<script type="text/javascript" src="static/mylib/angular/angular-route.min.js"></script>
<script type="text/javascript" src="static/mylib/angular/angular-resource.min.js"></script>
<script type="text/javascript" src="static/js/controller.js"></script>
<script type="text/javascript" src="static/js/directives.js"></script>
<script type="text/javascript" src="static/js/services.js"></script>
</head>
<body>
<div class="container">
	<div ng-view></div>
</div>

<script type="text/javascript" src="static/mylib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="static/mylib/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="static/mylib/moment/moment-with-locales.min.js"></script>
<script type="text/javascript" src="static/mylib/bootstrap/js/bootstrap-datetimepicker.min.js"></script>
</body>
</html>
